$radio-size: 32px;
$bullet-size: 16px;
$radio-font-size: 18/16 + rem;

.radio-group {
  display: flex;
  flex-direction: column;
}

input[type="radio"] {
  opacity: 0;
  width: 0px;
  display: absolute;
}

input[type="radio"] + label {
  font-size: $radio-font-size;
  line-height: $radio-size;
  margin: 5px 0;
  padding-left: 45px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    background-color: $input-color;
    width: $radio-size;
    height: $radio-size;
    border-radius: $radio-size;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.3s ease-out;
    background-color: $light-gray;
    width: $bullet-size;
    height: $bullet-size;
    left: ($radio-size - $bullet-size)/2;
    top: ($radio-size - $bullet-size)/2;
    border-radius: $bullet-size;
  }
}

input[type="radio"]:checked + label {
  &:after {
    opacity: 1;
    transform: scale(1);
  }
}
