$input-border-radius: 12px;

select {
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  padding: 15px 40px 15px 18px;
  margin: 0;
  background-color: $gray-30;
  border-radius: $input-border-radius;
  border: none;
  color: $white;
  background-image: url("../assets/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: right 1em top 50%, 0 0;

  &:focus {
    box-shadow: 0 0 5px #0dbb9c, 0 0 1px #0dbb9c;
  }

  &:invalid {
    color: $light-gray;
  }
}
