$input-border-radius: 12px;

input[type="text"],
input[type="number"],
input[type="email"] {
  background-color: $input-color;
  border-radius: $input-border-radius;
  border: none;
  color: $white;
  padding: 15px 18px;
  outline: none;

  &:focus {
    box-shadow: 0 0 8px rgba($blue, 0.6), 0 0 1px $blue;
  }

  &:invalid {
    color: $red;
    box-shadow: 0 0 3px rgba($red, 0.6), 0 0 1px $red;
  }
}

::placeholder {
  color: $light-gray;
}

.currency-input {
}
