$white: #ffffff;

$dark-gray: #07070b; //100%
$gray-30: rgba($dark-gray, 0.35); //30%
$light-gray: #727b84;
$lightest-gray: #94a0ac;

$green: #0dbb9c;
$blue: #33e1ff;
$red: #e64755;

$main-typeface: "Cabin", sans-serif;
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 700;

/*
*
*
Theme colors
*
*
*/

$gradient-top: #303346;
$gradient-bottom: #1a1b22;
$error-color: $red;

/* Link */
$link-color: $blue;

/* Card */
$card-color: $gray-30;
$secondary-card-gradient1: $dark-gray;

$text-color: $white;

/* Input and Form */
$input-border-radius: 12px;
$input-main-color: $white;
$input-focus-color: $blue;
$input-color: $gray-30; //used for text input, radio and select components
$input-placeholder-color: $light-gray;

/* Radio */
$radio-bullet-color: $light-gray;
$radio-bg-color: $input-color;

//$text-secondary-color
//button color

//accent-color
