$gradient-top: #303346;
$gradient-bottom: #1a1b22;

$white: #ffffff;

$dark-gray: #080711; //100%
$gray-30: rgba($dark-gray, 0.3); //30%
$light-gray: #727b84;
$lightest-gray: #94a0ac;

$green: #0dbb9c;

$main-typeface: "Cabin", sans-serif;
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 700;

$default-transition: "0.3s ease-out";
