@import "variables.scss";

@import "layout/layout.scss";

@import "components/button.scss";
@import "components/radio.scss";
@import "components/select.scss";
@import "components/select-list.scss";
@import "components/text-input.scss";
@import "components/title.scss";
@import "components/text.scss";
@import "components/info-list.scss";
@import "components/card.scss";
@import "components/loader.scss";
@import "components/form.scss";
@import "components/label.scss";
@import "components/header.scss";
@import "components/currency-value.scss";
@import "components/link.scss";

html {
  background-color: $gradient-top;
  background-image: linear-gradient(to bottom, $gradient-top, $gradient-bottom);
  background-attachment: fixed;

  * {
    box-sizing: border-box;
  }
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: $main-typeface;
  color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.price-breakdown {
}

.centered-number {
}

.id-code {
  //more generic
}
