@import "variables.scss";

@import "components/button.scss";
@import "components/radio.scss";
@import "components/select.scss";
@import "components/text-input.scss";
@import "components/title.scss";
@import "components/text.scss";
@import "components/info-list.scss";

html {
  background-image: linear-gradient($gradient-top, $gradient-bottom);
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: $main-typeface;
  color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  width: 100%;
  margin: 0 20px;
}

input[type="select"] {
}

.select-list {
}

.select-list__item {
}

.price-breakdown {
}

.loader {
}

.centered-number {
}

.id-code {
  //more generic
}
